{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../components/formFields/form-page-radios/macro.njk" import formPageRadios %}

{% extends "../partials/layout.njk" %}

{% block pageTitle %}
    Which type of application do you want to make?
{% endblock %}

{% block content %}

  {{ showErrorSummary(errorSummary) }}

  <form action="{{ paths.applications.newCohorts.selectApplicationOrigin() }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    {{
      formPageRadios({
        fieldName: "applicationOrigin",
        fieldset: {
          legend: {
            text: "Which type of application do you want to make?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "bail",
            text: "Bail",
            hint: {
              text: "Applicant is seeking court or prison bail."
            }
          },
          {
            value: "other",
            text: "A different type of application",
            hint: {
              text: "Applicant is being released, at risk of being recalled, or leaving an approved premises with no suitable accommodation."
            }
          }
        ]
      },
      fetchContext()
    )}}

    {{ govukButton({ text: "Continue" }) }}
  </form>
{% endblock %}
