{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../components/formFields/form-page-radios/macro.njk" import formPageRadios %}

{% extends "../partials/layout.njk" %}

{% block pageTitle %}
    Which type of application do you want to make?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backUrl
  }) }}
{% endblock %}

{% block content %}

  {{ showErrorSummary(errorSummary) }}

  <form action="{{ paths.applications.newCohorts.selectApplicationOrigin() }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    {{
      formPageRadios({
        fieldName: "applicationOrigin",
        fieldset: {
          legend: {
            text: "Are you applying for someone who is seeking bail?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "bail",
            text: "Yes"
          },
          {
            value: "other",
            text: "No"
          }
        ]
      },
      fetchContext()
    )}}

    {{ govukButton({ text: "Continue" }) }}
  </form>
{% endblock %}
