{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% extends "../partials/layout.njk" %}

{% set pageTitle = "Home - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {% if backUrl %}
    {{ govukBackLink({
      text: "Back",
      href: backUrl
    }) }}
  {% endif %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>

      <p class="govuk-body-l">Use this service to apply for short-term accommodation for people being released, recalled, bailed or leaving an approved premises with no suitable accommodation.</p>

      <h2 class="govuk-heading-m">Who is eligible</h2>

      <p class="govuk-body">The applicant must:</p>
      <ul>
        <li>be <strong>18 or over</strong></li>
        <li>be <strong>low or medium risk</strong></li>
        <li><strong>not</strong> have any <strong>sexual offence allegations, charges, convictions, or cautions</strong></li>
        <li><strong>not</strong> have broken UK immigration laws (except overstaying)</li>
        <li><strong>not</strong> have <strong>‘no recourse to public funds’</strong></li>
      </ul>

      <h2 class="govuk-heading-m">What you’ll need</h2>

      <p class="govuk-body">You’ll need:</p>
      <ul>
        <li>their CRN</li>
        <li>verbal consent from the applicant</li>
      </ul>

      <p class="govuk-body">You’ll be asked for information about:</p>
      <ul>
        <li>personal details</li>
        <li>previous address</li>
        <li>preferred areas and exclusion zones</li>
        <li>funding and ID</li>
        <li>offence details</li>
        <li>previous unspent convictions</li>
        <li>health needs</li>
        <li>risks to self or others</li>
        <li>bail conditions and hearing information</li>
      </ul>

{% call govukInsetText({}) %}
      <p>Emergency referrals must be made before 4pm.</p>
{% endcall %}

{% call govukInsetText({}) %}
      <p>All questions are mandatory, unless marked as optional.</p>
      <p>You can save your progress and return to the application at any time.</p>
{% endcall %}

      {{ govukButton({
          text: "Start now",
          isStartButton: true,
          preventDoubleClick: true,
          href: nextUrl
      }) }}
    </div>
  </div>

{% endblock %}