{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Application submitted",
                html: "<h2 class='govuk-!-font-size-36'>Application number: 
                    <span class='govuk-!-font-weight-regular'>" + application.id + "</span></h2>
                    <h2 class='govuk-!-font-size-36'>Applicant name: 
                    <span class='govuk-!-font-weight-regular'>" + application.person.name + "</span></h2>"
            }) }}

            <p>Thank you for submitting the application. It is now with the Nacro Referral and Contact Centre.</p>

            <h2>What happens next</h2>

            <ol>
                <li>An assessor will check the application for completeness.</li>
                <li>They might get in touch with you for more clarity on some of the answers provided.</li>
                {% if application.applicationOrigin === "courtBail" %}
                <li>Once you provide the requested information, the assessor will make a decision on the application within one hour. In some cases, it may take longer.</li>
                {% else %}
                <li>Once you provide the requested information, the assessor will make a decision on the application within 3 working days. In some cases, it may take longer.</li>
                {% endif %}
                <li>You'll receive an email confirming the decision.</li>
                <li>You can also check the status of the application on your dashboard.</li>
            </ol>

            <h3>If the application is rejected</h3>
            <p>The applicant can appeal the decision. You'll need to contact the assessor to start the appeal process. Once you appeal, you'll receive a decision within 10 working days.</p>
        
            <a href="{{paths.applications.index()}}">Return to applications dashboard</a>
        </div>
    </div>
{% endblock %}
