{% from "../partials/table.njk" import applicationsTable %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<h1>All CAS-2 Bail applications</h1>

  {{applicationsTable(
    "",
    [
      {
        text: "Applicant"
      },
      {
        text: "Prison number"
      },
      {
        text: "Application owner"
      },
      {
        text: "Application type"
      },
      {
        text: "Status"
      }
    ],
    prisonApplicationTableRows(applications))
  }}

  {{ govukPagination(pagination(pageNumber, totalPages, hrefPrefix)) }}

{% endblock %}

