{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "../partials/table.njk" import applicationsTable %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1 class="govuk-heading-l">All CAS-2 prison bail applications</h1>

  {{ mojSubNavigation({
    label: 'Sub navigation',
    items: [{
      text: 'Your applications',
      href: paths.applications.index()
    }, {
      text: "All prison bail applications",
      href: paths.applications.prison(),
      active: true
    }]
  }) }}

  {{applicationsTable(
    "",
    [
      {
        text: "Applicant"
      },
      {
        text: "Prison number"
      },
      {
        text: "Prison Code"
      },
      {
        text: "CRN"
      },
      {
        text: "Application owner"
      },
      {
        text: "Application type"
      },
      {
        text: "Status"
      }
    ],
    prisonApplicationTableRows(applications))
  }}

  {{ govukPagination(pagination(pageNumber, totalPages, hrefPrefix)) }}

{% endblock %}

