{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../components/formFields/form-page-input/macro.njk" import formPageInput %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: paths.applications.applicationOrigin()
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="{{ paths.applications.people.findByCrn() }}" method="post" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <input type="hidden" name="applicationOrigin" value="{{ applicationOrigin }}"/>

        {{ showErrorSummary(errorSummary) }}

        {{
          formPageInput(
            {
              label: {
                text: "Enter the applicant’s CRN (case reference number)",
                classes: "govuk-label--l",
                isPageHeading: true
              },
              hint: {
                text: "For example, X678230. This is the reference assigned to the applicant in NDelius."
              },
              classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
              fieldName: "crn"
            },
            fetchContext()
          )
        }}

        {{ govukButton({
            name: 'submit',
            text: "Search for applicant"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
