{% extends "govuk/template.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block head %}
  <link href="{{ '/assets/css/app.css' | assetMap }}" rel="stylesheet"/>

{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}
{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}{% endblock %}

{% block footer %}
  {{ govukFooter({
    classes: 'govuk-footer print__hidden',
    meta: {
      items: [
        {
          href: "/privacy-notice",
          text: "Privacy notice"
        },
        {
          href: "/cookies",
          text: "Cookies policy"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script src="/assets/js/jquery.min.js"></script>
  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>

  {% block extraScripts %}{% endblock %}
{% endblock %}
