# E2E tests
# Allow tests to be run locally against the real dev environment

CAS2_COURT_BAIL_DELIUS_REF_PASSWORD=${CAS2_COURT_BAIL_DELIUS_REF_PASSWORD}
CAS2_COURT_BAIL_DELIUS_REF_USERNAME=${CAS2_COURT_BAIL_DELIUS_REF_USERNAME}
CAS2_COURT_BAIL_NOMIS_REF_PASSWORD=${CAS2_COURT_BAIL_NOMIS_REF_PASSWORD}
CAS2_COURT_BAIL_NOMIS_REF_USERNAME=${CAS2_COURT_BAIL_NOMIS_REF_USERNAME}
CAS2_PRISON_BAIL_DELIUS_REF_PASSWORD=${CAS2_PRISON_BAIL_DELIUS_REF_PASSWORD}
CAS2_PRISON_BAIL_DELIUS_REF_USERNAME=${CAS2_PRISON_BAIL_DELIUS_REF_USERNAME}
CAS2_PRISON_BAIL_NOMIS_REF_PASSWORD=${CAS2_PRISON_BAIL_NOMIS_REF_PASSWORD}
CAS2_PRISON_BAIL_NOMIS_REF_USERNAME=${CAS2_PRISON_BAIL_NOMIS_REF_USERNAME}
CAS2_PRISON_BAIL_NOMIS_REF_2_PASSWORD=${CAS2_PRISON_BAIL_NOMIS_REF_2_PASSWORD}
CAS2_PRISON_BAIL_NOMIS_REF_2_USERNAME=${CAS2_PRISON_BAIL_NOMIS_REF_2_USERNAME}

CAS2_ADMIN_USERNAME=${CAS2_ADMIN_USERNAME}
CAS2_ADMIN_PASSWORD=${CAS2_ADMIN_PASSWORD}
CAS2_ASSESSOR_USERNAME=${CAS2_ASSESSOR_USERNAME}
CAS2_ASSESSOR_PASSWORD=${CAS2_ASSESSOR_PASSWORD}
CAS2_MI_USERNAME=${CAS2_MI_USERNAME}
CAS2_MI_PASSWORD=${CAS2_MI_PASSWORD}
