{% extends "../layout.njk" %}

{% block questions %}
  {{
    formPageRadios({
      fieldName: "hasFixedAddress",
      fieldset: {
        legend: {
          text: page.questions.hasFixedAddress.question,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: page.items()
    },
    fetchContext()
  )}}
{% endblock %}
