{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% extends "../layout.njk" %}

{% block questions %}
  {{
    formPageInput(
      {
        label: {
          text: page.questions.howLong.question,
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: { text: page.questions.howLong.hint },
        fieldName: "howLong"
      },
      fetchContext()
    )
  }}

  {% call govukFieldset({
    legend: {
      text: "What was their last known fixed address? (optional)",
      classes: "govuk-fieldset__legend--m"
    }
  }) %}

  {{
    formPageInput(
      { label: { text: page.questions.lastKnownAddressLine1.question }, fieldName: "lastKnownAddressLine1" },
      fetchContext()
    )
  }}

  {{
    formPageInput(
      { label: { text: page.questions.lastKnownAddressLine2.question }, fieldName: "lastKnownAddressLine2" },
      fetchContext()
    )
  }}

  {{
    formPageInput(
      { label: { text: page.questions.lastKnownTownOrCity.question }, classes: "govuk-!-width-two-thirds", fieldName: "lastKnownTownOrCity" },
      fetchContext()
    )
  }}

  {{
    formPageInput(
      { label: { text: page.questions.lastKnownCounty.question }, classes: "govuk-!-width-two-thirds", fieldName: "lastKnownCounty" },
      fetchContext()
    )
  }}

  {{
    formPageInput(
      { label: { text: page.questions.lastKnownPostcode.question }, classes: "govuk-input--width-10", fieldName: "lastKnownPostcode" },
      fetchContext()
    )
  }}

  {% endcall %}
{% endblock %}
