{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% extends "../layout.njk" %}

{% block questions %}
  {% set previousAddressFollowUp %}
    {{
      formPageTextArea(
        {
          fieldName: "previousAddress",
          label: {
            text: page.questions.previousAddress.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset -%}

  {% set lastKnownAddressFollowUp %}
    {{
      formPageTextArea(
        {
          fieldName: "lastKnownAddress",
          label: {
            text: page.questions.lastKnownAddress.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}

    {{
      formPageInput(
        {
          label: {
            text: page.questions.howLong.question,
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          fieldName: "howLong",
          hint: {
            text: page.questions.howLong.hint
          }
        },
        fetchContext()
      )
    }}
  {% endset -%}

  {% set latestLivingSituationFollowUp %}
    {{
      formPageInput(
        {
          label: {
            text: page.questions.otherLivingSituation.question,
            classes: "govuk-label--s govuk-!-font-weight-regular"
          },
          classes: "govuk-!-width-two-thirds",
          fieldName: "otherLivingSituation"
        },
        fetchContext()
      )
    }}
  {% endset -%}

  {{
    formPageRadios({
      fieldName: "hasPreviousAddress",
      fieldset: {
        legend: {
          text: page.questions.hasPreviousAddress.question,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: page.addressItems(previousAddressFollowUp, lastKnownAddressFollowUp)
    },
    fetchContext()
  )}}

    {{
    formPageRadios({
      fieldName: "latestLivingSituation",
      fieldset: {
        legend: {
          text: page.questions.latestLivingSituation.question,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: page.latestLivingSituationItems(latestLivingSituationFollowUp)
    },
    fetchContext()
  )}}

{% endblock %}
