{% from "../../../components/formFields/form-page-radios/macro.njk" import formPageRadios %}

{% extends "../layout.njk" %}

{% set inTheCommunityChildrenRiskHtml %}
  {{
    formPageRadios(
      {
        fieldset: {
          legend: {
            text: page.questions.inTheCommunityChildrenRisk.question,
            classes: "govuk-fieldset__legend--s"
          }
        },
        fieldName: "inTheCommunityChildrenRisk",
        items: page.itemsForOASysRiskQuestions("inTheCommunityChildrenRisk")
      },
      fetchContext()
    )
  }}
{% endset %}

{% set inTheCommunityPublicRiskHtml %}
  {{
    formPageRadios(
      {
        fieldset: {
          legend: {
            text: page.questions.inTheCommunityPublicRisk.question,
            classes: "govuk-fieldset__legend--s"
          }
        },
        fieldName: "inTheCommunityPublicRisk",
        items: page.itemsForOASysRiskQuestions("inTheCommunityPublicRisk")
      },
      fetchContext()
    )
  }}
{% endset %}

{% set inTheCommunityKnownAdultRiskHtml %}
  {{
    formPageRadios(
      {
        fieldset: {
          legend: {
            text: page.questions.inTheCommunityKnownAdultRisk.question,
            classes: "govuk-fieldset__legend--s"
          }
        },
        fieldName: "inTheCommunityKnownAdultRisk",
        items: page.itemsForOASysRiskQuestions("inTheCommunityKnownAdultRisk")
      },
      fetchContext()
    )
  }}
{% endset %}

{% set inCustodyPublicRiskHtml %}
  {{
    formPageRadios(
      {
        fieldset: {
          legend: {
            text: page.questions.inCustodyPublicRisk.question,
            classes: "govuk-fieldset__legend--s"
          }
        },
        fieldName: "inCustodyPublicRisk",
        items: page.itemsForOASysRiskQuestions("inCustodyPublicRisk")
      },
      fetchContext()
    )
  }}
{% endset %}

{% set inCustodyKnownAdultRiskHtml %}
  {{
    formPageRadios(
      {
        fieldset: {
          legend: {
            text: page.questions.inCustodyKnownAdultRisk.question,
            classes: "govuk-fieldset__legend--s"
          }
        },
        fieldName: "inCustodyKnownAdultRisk",
        items: page.itemsForOASysRiskQuestions("inCustodyKnownAdultRisk")
      },
      fetchContext()
    )
  }}
{% endset %}

{% set inCustodyStaffRiskHtml %}
  {{
    formPageRadios(
      {
        fieldset: {
          legend: {
            text: page.questions.inCustodyStaffRisk.question,
            classes: "govuk-fieldset__legend--s"
          }
        },
        fieldName: "inCustodyStaffRisk",
        items: page.itemsForOASysRiskQuestions("inCustodyStaffRisk")
      },
      fetchContext()
    )
  }}
{% endset %}

{% set inCustodyPrisonersRiskHtml %}
  {{
    formPageRadios(
      {
        fieldset: {
          legend: {
            text: page.questions.inCustodyPrisonersRisk.question,
            classes: "govuk-fieldset__legend--s"
          }
        },
        fieldName: "inCustodyPrisonersRisk",
        items: page.itemsForOASysRiskQuestions("inCustodyPrisonersRisk")
      },
      fetchContext()
    )
  }}
{% endset %}

{% block questions %}

  <h1 class="govuk-heading-l">{{ page.title }}</h1>

  {{ 
    formPageCheckboxes(
      {
        fieldName: "inTheCommunity",
        fieldset: {
          legend: {
            text: page.questions.inTheCommunity.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: page.itemsForInTheCommunity(inTheCommunityChildrenRiskHtml, inTheCommunityPublicRiskHtml, inTheCommunityKnownAdultRiskHtml)
      }, 
      fetchContext()
    )
  }}

  {{ 
    formPageCheckboxes(
      {
        fieldName: "inCustody",
        fieldset: {
          legend: {
            text: page.questions.inCustody.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: page.itemsForInCustody(inCustodyPrisonersRiskHtml, inCustodyStaffRiskHtml, inCustodyPublicRiskHtml, inCustodyKnownAdultRiskHtml)
      }, 
      fetchContext()
    )
  }}

{% endblock %}
