{% extends "../layout.njk" %}

{% block questions %}
    <h1 class="govuk-heading-l">{{ page.title }}</h1>

    <p class="govuk-hint">{{ page.questions.hasLicenceConditions.hint }}</p>

    {% set notes %}
        {{ formQuestion("notes", page.questions, fetchContext()) }}
    {% endset %}

        {{ formPageRadios(
            {
                fieldName: "hasLicenceConditions",
                items: convertKeyValuePairToRadioItems(page.questions.hasLicenceConditions.answers, page.body.hasLicenceConditions, { yes: { html: notes} },{dontKnow:'or'})
            },
            fetchContext()
        ) }}

{% endblock %}

{% block button %}
    {{ govukButton({
        text: "Save and continue"
    }) }}
{% endblock %}
