{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set bodyClasses = "dashboard--index" %}

{% block content %}

  <h1>{{ pageHeading }}</h1>

  <div class="card-container">

    {% for section in sections %}
      <div class="card" data-cy-card-section="{{ section.id }}">
        <div class="card-body">
          <h2 class="govuk-heading-s">
            <a class="govuk-link" href="{{ section.href }}">{{ section.title }}</a>
          </h2>
          {{ section.description | safe }}
        </div>
      </div>
    {% endfor %}

  </div>

  {% if isReferrer %}

    <h2 class="govuk-heading-m">Print resources to interview applicants</h2>

    <p>Use any of these resources to collect information from the applicant when you cannot access the digital service:</p>
    <ul>
      <li><a href="{{paths.static.interviewQuestionsDocx({})}}" target="_blank" rel="noreferrer noopener">interview questions sheet (DOCX, 124KB)</a></li>
      <li><a href="{{paths.static.interviewQuestionsHtml({})}}" target="_blank" rel="noreferrer noopener">interview questions sheet (HTML, 21KB)(opens in new tab)</a></li>
    </ul>

  {% endif %}

{% endblock %}