@use "govuk-frontend/dist/govuk/all" as govuk;

.application-summary-panel {
  text-align: left;
  background: govuk.govuk-colour('blue');
  color: govuk.govuk-colour('white');

  &__text {
    color: govuk.govuk-colour('white') !important;
  }

  &__text:focus {
    color: govuk.govuk-colour('black') !important;
  }

  &__update-status-button {
    background-color: govuk.govuk-colour('white') !important;
    color: govuk.$govuk-link-colour !important;
    box-shadow: 0 2px 0 govuk.govuk-colour('dark-grey');
  }

  &__download-pdf-button {
    background-color: #1d70b8 !important;
    color: #fff !important;
    box-shadow: 0 2px 0 #505a5f;
    border-color: #fff;
  }

  @media print {
    color: govuk.govuk-colour('black');

    &__text {
      color: govuk.govuk-colour('black') !important;
    }
  }
}
