{% extends "./_area-information-screen.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "../../../components/formFields/form-page-input/macro.njk" import formPageInput %}
{% from "../../../components/formFields/form-page-text-area/macro.njk" import formPageTextArea %}

{% set guidanceHtml %}

  <p>The reasons the applicant might prefer an area could include:</p>

  <ul>
    <li>it is close to the court where the case will be held</li>
    <li>they lived in the area for six out of the last 12 months, or three out of the last five years (prior to custody)</li>
    <li>their immediate family (parents, children, siblings) has lived in the area for at least five years</li>
    <li>their employment is in that area</li>
    <li>they have a special reason to live in (for example, they receive specialist healthcare)</li>
  </ul>
{% endset %}

{% block questions %}
  <p>Accommodation staff will use this information to help match applicants to the most suitable available rooms.</p>

  <p>You need to provide a reason for the applicant’s preference.</p>

  {{ govukDetails({
    summaryText: "What the reasons for their preference could be",
    html: guidanceHtml
  }) }}

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {{
    formPageInput(
      {
        label: {
          text: page.questions.preferredArea.question,
          classes: "govuk-label--m"
        },
        classes: "govuk-input--width-20",
        fieldName: "preferredArea",
        hint: { text: page.questions.preferredArea.hint }
      },
      fetchContext()
    )
  }}

  {{
    formPageTextArea(
      {
        fieldName: 'preferenceReason',
        label: {
          text: page.questions.preferenceReason.question,
          classes: "govuk-label--m"
        },
        hint: { text: page.questions.preferenceReason.hint }
      },
      fetchContext()
    )
  }}

{% endblock %}
