{% extends "./_area-information-screen.njk" %}
{% set pageName = "gang-affiliations" %}

{% block questions %}
  {% set gangAffiliationDetailHtml %}
    {{
      formPageTextArea(
        {
          fieldName: "gangDetails",
          label: {
            text: page.questions.gangDetails.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  {% set gangNotKnownDetailHtml %}
    {{
      formPageTextArea(
        {
          fieldName: "gangNotKnownDetails",
          label: {
            text: page.questions.gangNotKnownDetails.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  {% set rivalGangDetailHtml %}
    {{
      formPageTextArea(
        {
          fieldName: "rivalGangsOrCountyLinesDetail",
          label: {
            html: "<span class='govuk-visually-hidden'>You selected yes. Answer one additional question.</span>" + page.questions.rivalGangsOrCountyLinesDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  {% set rivalGangNotKnownDetailHtml %}
    {{
      formPageTextArea(
        {
          fieldName: "rivalGangNotKnownDetail",
          label: {
            html: "<span class='govuk-visually-hidden'>You selected not known. Answer one additional question.</span>" + page.questions.rivalGangNotKnownDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  {{
    formPageRadios(
      {
        fieldName: "hasGangAffiliations",
        fieldset: {
          legend: {
            text: page.questions.hasGangAffiliations.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            html: "Yes <span class='govuk-visually-hidden'>You selected yes. Answer one additional question.</span>",
            conditional: {
              html: gangAffiliationDetailHtml
            }
          },
          {
            value: "no",
            text: "No"
          },
          {
            value: "dontKnow",
            html: "Not known <span class='govuk-visually-hidden'>You selected not known. Answer one additional question.</span>",
            conditional: {
              html: gangNotKnownDetailHtml
            }
          }
        ]
      },
      fetchContext()
    )
  }}

  {{
    formPageRadios(
      {
        fieldName: "rivalGangsOrCountyLines",
        fieldset: {
          legend: {
            text: page.questions.rivalGangsOrCountyLines.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: rivalGangDetailHtml
            }
          },
          {
            value: "no",
            text: "No"
          },
          {
            value: "dontKnow",
            text: "Not known",
            conditional: {
              html: rivalGangNotKnownDetailHtml
            }
          }
        ]
      },
      fetchContext()
    )
  }}
{% endblock %}
