{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../layout.njk" %}
{% block questions %}
    <h1 class="govuk-heading-l">{{ page.title }}</h1>

    <p class="govuk-hint">These are the details of the person completing the application on behalf of the applicant.</p>

    {{ govukSummaryList({
        rows: page.summaryRows()
    }) }}

    {% set teamName = "CAS2 team" if cas2IsrEnabled else "CAS2 Bail team" %}

    {{ govukWarningText({
        text: "If any of these details are wrong, contact the " + teamName + " with the correct details when you submit the application.",
        iconFallbackText: "Warning"
    }) }}

{% endblock %}

{% block button %}
    <div class="govuk-button-group">
        {{ govukButton({
            text: "Confirm and continue"
        }) }}

        <a href="{{ paths.applications.show({ id: applicationId }) }}">Back to task list</a>
    </div>
{% endblock %}