{% extends "../layout.njk" %}

{% block beforeContent %}
    {% if arePreTaskListTasksIncomplete(page.application) %}
        {{ govukBackLink({
            text: "Back",
            href: paths.applications.pages.show({
                id: applicationId,
                task: 'confirm-consent',
                page: 'confirm-consent'
            })
        }) }}
        {% elif page.previous() === 'taskList' %}
        {{ govukBackLink({
            text: "Back",
            href: paths.applications.show({ id: applicationId })
        }) }}
    {% endif %}
{% endblock %}

{% block questions %}
    <h1 class="govuk-heading-l">{{ page.title }}</h1>

    {% for questionKey, question in page.questions %}
        {{ formQuestion(questionKey,page.questions,fetchContext()) }}
    {% endfor %}

{% endblock %}

{% block button %}
    {{ govukButton({
        text: "Confirm and continue"
    }) }}
{% endblock %}
