{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "../layout.njk" %}

{% set exampleHtml %}
  <p>Sarah Jones is currently serving a community order while on probation for being charged with aggravated assault in 2024.</p>
  <p>She also has an unspent conviction for possession of a prohibited knife for which she completed a sentence in 2021.</p>
  <p>She has a spent conviction for shoplifting from 2015, for which she received an absolute discharged.</p>
  <p class="govuk-!-margin-bottom-1">You should add both the community order and the conviction because they:</p>
  <ul class="govuk-!-margin-top-0">
    <li>are unspent</li>
    <li>relate to violence and weapons - which are two relevant categories</li>
  </ul>
  <p class="govuk-!-margin-bottom-1">Do not add the shoplifting conviction because it:</p>
  <ul class="govuk-!-margin-top-0">
    <li>is spent</li>
    <li>does not relate to any of the relevant categories</li>
  </ul>
{% endset %}

{% block questions %}

  <h1 class="govuk-heading-l">{{ page.title }}</h1>

  <p>Previous unspent convictions include any:</p>
    <ul>
      <li>active community orders or sentences that the applicant is currently serving</li>
      <li>past offences for which the applicant has been convicted and has already served the sentence for</li>
    </ul>

    {{ govukWarningText({
      text: "Spent convictions are protected by law and should not be disclosed.",
      iconFallbackText: "Warning"
    }) }}

 {% include "../../../partials/unspentConvictionsGuidance.njk" %}

  {{
    govukDetails({
      summaryText: 'See an example of what convictions to add',
      html: exampleHtml
    })
  }}

  {{
    formPageRadios(
      {
        fieldName: "hasAnyPreviousConvictions",
        fieldset: {
          legend: {
            text: page.questions.hasAnyPreviousConvictions.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: 'yesRelevantRisk',
            text: page.questions.hasAnyPreviousConvictions.answers.yesRelevantRisk
          },
          {
            value: 'yesNoRelevantRisk',
            text: page.questions.hasAnyPreviousConvictions.answers.yesNoRelevantRisk
          },
          {
            value: 'no',
            text: page.questions.hasAnyPreviousConvictions.answers.no
          }
        ]
      },
      fetchContext()
    )
  }}
{% endblock %}
