{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "../../../components/formFields/form-page-date-input/macro.njk" import formPageDateInput %}
{% from "../../../components/formFields/form-page-text-area/macro.njk" import formPageTextArea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "../layout.njk" %}

{% set otherDetailsHintHtml %}
  <p class="govuk-body govuk-!-margin-bottom-1">For example:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>what happened (excluding names and sensitive information)</li>
    <li>where it happened (excluding addresses)</li>
    <li>any weapons used or injuries caused</li>
  </ul>
{% endset %}

{% set areOtherDetailsFollowUpHtml %}
  {{
      formPageTextArea(
        {
          fieldName: "otherDetails",
          hint: {
            html: otherDetailsHintHtml
          },
          label: {
            text: page.questions.otherDetails.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
  }}
{% endset %}

{% set unspentConvictionsGuidanceHtml %}
 {% include "../../../partials/unspentConvictionsGuidanceDetails.njk" %}
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="{{ columnClasses | default("govuk-grid-column-two-thirds") }}">
      {{ showErrorSummary(errorSummary) }}

      {% if successMessages %}
        {% for message in successMessages %}
          {{ govukNotificationBanner({
                html: '<h3 class="govuk-!-margin-top-2">' + message + '</h3>',
                type: 'success',
                titleId: 'success-title'
              }) }}
        {% endfor %}
      {% endif %}
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">{{ page.title }}</h1>

      {{
        govukDetails({
          summaryText: 'Which types of convictions to add',
          html: unspentConvictionsGuidanceHtml
        })
      }}

      {{
        govukDetails({
          summaryText: 'How to check if a conviction is spent',
          html: '<p>You can <a class="govuk-link" href="https://www.gov.uk/tell-employer-or-college-about-criminal-record/check-your-conviction-caution" target="_blank">check if the applicant’s convictions or cautions are spent (opens in a new tab).</a></p>',
          classes: "govuk-!-margin-top-4"
        })
      }}

      <h2>How to add convictions</h2>

      <p>Add any convictions of the same type together. You only need to add a summary of convictions of the same type once.</p>

      <form id="form" action="{{ paths.applications.appendToList({ id: applicationId, task: page.taskName, page: page.name }) }}?_method=PUT" method="post" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{
            govukSelect({
                  label: { 
                    text: page.questions.convictionType.question,
                    classes: "govuk-label--m" 
                  },
                  hint: {
                    text: page.questions.convictionType.hint
                  },
                  id: "convictionType",
                  name: "convictionType",
                  items: page.convictionTypes,
                  errorMessage: errors.convictionType
              })
        }}

        {{
            formPageInput(
              {
                label: { 
                  text: page.questions.numberOfConvictions.question,
                  classes: "govuk-label--m" 
                },
                classes: "govuk-input--width-2",
                fieldName: "numberOfConvictions",
                hint: {
                  text: page.questions.numberOfConvictions.hint
                }
              },
              fetchContext()
            )
        }}

        {{
            formPageRadios(
              {
                fieldName: "currentlyServing",
                fieldset: {
                  legend: {
                    text: page.questions.currentlyServing.question,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                classes: "govuk-input--width-20",
                items: [
                  {
                    value: "yes",
                    text: page.questions.currentlyServing.answers.yes
                  },
                  {
                    value: "no",
                    text: page.questions.currentlyServing.answers.no
                  }
                ]
              },
              fetchContext()
            )
        }}

        {{
          formPageTextArea(
            {
              fieldName: "convictionDetails",
              hint: {
                html: page.questions.convictionDetails.hint
              },
              label: {
                text: page.questions.convictionDetails.question,
                classes: "govuk-label--m"
              }
            },
            fetchContext()
          )
        }}

        {{
            formPageRadios(
              {
                fieldName: "areOtherDetails",
                fieldset: {
                  legend: {
                    text: page.questions.areOtherDetails.question,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: page.questions.areOtherDetails.answers.yes,
                    conditional: {
                      html: areOtherDetailsFollowUpHtml
                    }
                  },
                  {
                    value: "no",
                    text: page.questions.areOtherDetails.answers.no
                  }
                ]
              },
              fetchContext()
            )
        }}

        {% block button %}
          <div class="govuk-button-group">
            {{ govukButton({
                  text: "Save and continue"
              }) }}
            {%if page.hasPreviouslySavedAnUnspentConviction %}
              <a class="govuk-link" href="{{ paths.applications.pages.show({ id: applicationId, task: page.taskName, page: 'unspent-convictions' }) }}">
                Cancel
              </a>
            {% endif %}

            <a href="{{ paths.applications.show({ id: applicationId }) }}">Back to task list</a>
          </div>
        {% endblock %}
      </form>
    </div>
  </div>

{% endblock %}
