{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

{% extends "../layout.njk" %}

{% set columnClasses = "govuk-grid-column-full" %}

{% block content %}
  <div class="govuk-grid-row" id="{{ pageName }}">
    <div class="govuk-grid-column-one-third">
      {{ mojSideNavigation({
          label: 'Health needs navigation',
          items: [{
            text: 'Liaison and diversion assessment',
            href: paths.applications.pages.show({ id: applicationId, task: 'health-needs', page: 'liaison-and-diversion' }),
            active: (pageName === 'liaison-and-diversion')
          }, {
            text: 'Health needs information',
            href: paths.applications.pages.show({ id: applicationId, task: 'health-needs', page: 'health-needs-information' }),
            active: (pageName === 'health-needs-information')
          }, {
            text: 'Substance and alcohol use',
            href: paths.applications.pages.show({ id: applicationId, task: 'health-needs', page: 'substance-misuse' }),
            active: (pageName === 'substance-misuse')
          }, {
            text: 'Physical health',
            href: paths.applications.pages.show({ id: applicationId, task: 'health-needs', page: 'physical-health' }),
            active: (pageName === 'physical-health')
          }, {
            text: 'Mental health',
            href: paths.applications.pages.show({ id: applicationId, task: 'health-needs', page: 'mental-health' }),
            active: (pageName === 'mental-health')
          }, {
            text: 'Communication and language needs',
            href: paths.applications.pages.show({ id: applicationId, task: 'health-needs', page: 'communication-and-language' }),
            active: (pageName === 'communication-and-language')
          }, {
            text: 'Learning difficulties and neurodiversity',
            href: paths.applications.pages.show({ id: applicationId, task: 'health-needs', page: 'learning-difficulties' }),
            active: (pageName === 'learning-difficulties')
          }, {
            text: 'Brain injury',
            href: paths.applications.pages.show({ id: applicationId, task: 'health-needs', page: 'brain-injury' }),
            active: (pageName === 'brain-injury')
          }, {
            text: 'Other health needs',
            href: paths.applications.pages.show({ id: applicationId, task: 'health-needs', page: 'other-health' }),
            active: (pageName === 'other-health')
          }, {
            text: 'Information sources',
            href: paths.applications.pages.show({ id: applicationId, task: 'health-needs', page: 'information-sources' }),
            active: (pageName === 'information-sources')
          }]
        }) }}
    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-top-4">
      {{ super() }}
    </div>

  </div>
{% endblock %}
