{% extends "./_health-needs-screen.njk" %}
{% set pageName = "brain-injury" %}

{% block questions %}

  {% set injuryAndNeedsFollowUp %}
  {{
      formPageTextArea(
        {
          fieldName: 'injuryDetail',
          label: {
            text: page.questions.injuryDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  {% set supportFollowUp %}
    {{
      formPageTextArea(
        {
          fieldName: 'supportDetail',
          label: {
            text: page.questions.supportDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  {% set treatmentFollowUp %}
    {{
      formPageTextArea(
        {
          fieldName: 'treatmentDetail',
          label: {
            text: page.questions.treatmentDetail.question,
            classes: "govuk-label--s"
          },
          hint: { text: page.questions.treatmentDetail.hint }
        },
        fetchContext()
      )
    }}
  {% endset %}

  {% set vulnerabilityFollowUp %}
  {{
      formPageTextArea(
        {
          fieldName: 'vulnerabilityDetail',
          label: {
            text: page.questions.vulnerabilityDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  {% set interactionFollowUp %}
  {{
      formPageTextArea(
        {
          fieldName: 'interactionDetail',
          label: {
            text: page.questions.interactionDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  <p class="govuk-hint">
    This could be as a result of accident, drug and alcohol use or an inherited condition.
  </p>

  {{
    formPageRadios(
      {
        fieldName: "hasBrainInjury",
        fieldset: {
          legend: {
            text: page.questions.hasBrainInjury.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: injuryAndNeedsFollowUp
          }
        },
        {
          value: "no",
          text: "No"
        },
        {
          divider: 'or'
        },
        {
          value: "dontKnow",
          text: "I do not know"
        }
      ]
      },
      fetchContext()
    )
  }}

    {{
    formPageRadios(
      {
        fieldName: "supportNeeded",
        fieldset: {
          legend: {
            text: page.questions.supportNeeded.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: supportFollowUp
          }
        },
        {
          value: "no",
          text: "No"
        },
        {
          divider: 'or'
        },
        {
          value: "dontKnow",
          text: "I do not know"
        }
      ]
      },
      fetchContext()
    )
  }}

    {{
    formPageRadios(
      {
        fieldName: "receivingTreatment",
        fieldset: {
          legend: {
            text: page.questions.receivingTreatment.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: treatmentFollowUp
          }
        },
        {
          value: "no",
          text: "No"
        },
        {
          divider: 'or'
        },
        {
          value: "dontKnow",
          text: "I do not know"
        }
      ]
      },
      fetchContext()
    )
  }}

  {{
    formPageRadios(
      {
        fieldName: "isVulnerable",
        fieldset: {
          legend: {
            text: page.questions.isVulnerable.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: vulnerabilityFollowUp
          }
        },
        {
          value: "no",
          text: "No"
        },
        {
          divider: 'or'
        },
        {
          value: "dontKnow",
          text: "I do not know"
        }
      ]
      },
      fetchContext()
    )
  }}

  {{
    formPageRadios(
      {
        fieldName: "hasDifficultyInteracting",
        fieldset: {
          legend: {
            text: page.questions.hasDifficultyInteracting.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: interactionFollowUp
          }
        },
        {
          value: "no",
          text: "No"
        },
        {
          divider: 'or'
        },
        {
          value: "dontKnow",
          text: "I do not know"
        }
      ]
      },
      fetchContext()
    )
  }}

{% endblock %}
