{% extends "./_health-needs-screen.njk" %}
{% set pageName = "communication-and-language" %}

{% block questions %}

  {% set impairmentsFollowUp %}
  {{
      formPageTextArea(
        {
          fieldName: 'impairmentsDetail',
          label: {
            text: page.questions.impairmentsDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  {% set interpretationFollowUp %}
  {{
      formPageInput(
        {
          fieldName: 'interpretationDetail',
          label: {
            text: page.questions.interpretationDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

   {{
    formPageRadios(
      {
        fieldName: "hasImpairments",
        fieldset: {
          legend: {
            text: page.questions.hasImpairments.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: impairmentsFollowUp
          }
        },
        {
          value: "no",
          text: "No"
        },
        {
          divider: 'or'
        },
        {
          value: "dontKnow",
          text: "I don't know"
        }
      ]
      },
      fetchContext()
    )
  }}

  {{
    formPageRadios(
      {
        fieldName: "requiresInterpreter",
        fieldset: {
          legend: {
            text: page.questions.requiresInterpreter.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: interpretationFollowUp
          }
        },
        {
          value: "no",
          text: "No"
        },
        {
          divider: 'or'
        },
        {
          value: "dontKnow",
          text: "I do not know"
        }
      ]
      },
      fetchContext()
    )
  }}

{% endblock %}
