{% extends "./_health-needs-screen.njk" %}
{% set pageName = "independent-living" %}

{% block questions %}

  <h2 class="govuk-heading-l govuk-!-margin-bottom-4">{{ page.title }}</h2>

{% endblock %}
