{% extends "./_health-needs-screen.njk" %}
{% set pageName = "information-sources" %}

{% block questions %}

{% set previousOasysFollowUp %}
    {{ 
        formPageDateInput( {
        fieldName: "previousOasysDate",
        fieldset: {
            legend: {
                text: page.questions.previousOasysDate.question,
                classes: "govuk-fieldset__legend--s"
            }
        },
        items: dateFieldValues('previousOasysDate', errors)
        }, 
        fetchContext()) 
    }}
{% endset -%}

  {% set otherSourcesFollowUp %}
    {{
      formPageTextArea(
        {
          fieldName: 'otherSourcesDetail',
          label: {
            text: page.questions.otherSourcesDetail.question,
            classes: "govuk-label--s govuk-!-font-weight-regular"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  <h1 class="govuk-heading-l">{{ page.title }}</h1>

  {{ 
    formPageCheckboxes(
        {
          fieldName: "informationSources",
          fieldset: {
            legend: {
              text: page.questions.question,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: page.items(otherSourcesFollowUp, previousOasysFollowUp)
        }, 
        fetchContext()
    ) 
  }}

{% endblock %}
