{% extends "./_health-needs-screen.njk" %}
{% set pageName = "liaison-and-diversion" %}

{% block questions %}

  {{
    formPageRadios(
      {
        fieldName: "liaisonAndDiversionAssessment",
        fieldset: {
          legend: {
            text: page.questions.liaisonAndDiversionAssessment.question,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        hint: { text: page.questions.liaisonAndDiversionAssessment.hint },
        items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        },
        {
          divider: 'or'
        },
        {
          value: "dontKnow",
          text: "I don't know"
        }
      ]
      },
      fetchContext()
    )
  }}

{% endblock %}
