{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "./_health-needs-screen.njk" %}
{% set pageName = "other-health" %}

{% block questions %}

  {% set hasOtherHealthNeedsFollowUp %}
    {{
      formPageTextArea(
        {
          fieldName: 'healthNeedsDetail',
          label: {
            text: page.questions.healthNeedsDetail.question,
            classes: "govuk-label--s"
          },
          hint: { text: page.questions.healthNeedsDetail.hint }
        },
        fetchContext()
      )
    }}
  {% endset %}

  {% set insetGuidanceHtml %}
    <div>
      <p class="govuk-!-font-weight-bold">If you select 'Yes', we'll ask you the following details:</p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-0">
        <li class="govuk-!-margin-bottom-0">about their needs and if they have a diagnosis</li>
        <li class="govuk-!-margin-bottom-0">any support they need</li>
      </ul>
    </div>
  {% endset %}

  {% set hintHtml %}
    <p>This can include any other health needs that are relevant when living in shared accommodation. For example:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-0">
      <li class="govuk-!-margin-bottom-0">any long term health conditions such as arthritis, diabetes or high blood pressure</li>
      <li class="govuk-!-margin-bottom-0">seizures or epilepsy</li>
      <li class="govuk-!-margin-bottom-0">stroke</li>
      <li class="govuk-!-margin-bottom-0">cancer treatment</li>
      <li class="govuk-!-margin-bottom-0">allergies</li>
      <li>the need to have a private bathroom</li>
    </ul>

    <p>This list is not exhaustive.</p>

    {{
      govukInsetText({
        html: insetGuidanceHtml,
        classes: "guidance-panel govuk-!-margin-top-3"
      })
    }}
  {% endset %}

  {{
    formPageRadios(
      {
        fieldName: "hasOtherHealthNeeds",
        hint: {
            text: page.questions.hasOtherHealthNeeds.hint
        },
        fieldset: {
          legend: {
            text: page.questions.hasOtherHealthNeeds.question,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-4"
          }
        },
        hint: {
          html: hintHtml
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: hasOtherHealthNeedsFollowUp
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      },
      fetchContext()
    )
  }}


{% endblock %}
