{% extends "./_health-needs-screen.njk" %}
{% set pageName = "physical-health" %}

{% block questions %}
  {% set phyHealthNeedsFollowUp %}
  {{
      formPageTextArea(
        {
          fieldName: 'needsDetail',
          label: {
            text: page.questions.needsDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
 
  {% endset %}

  {% set requiresSupportFollowUp %}
  {{
      formPageTextArea(
        {
          fieldName: 'supportDetail',
          label: {
            text: page.questions.supportDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  {% set indyLivingFollowUp %}
  {{
      formPageTextArea(
        {
          fieldName: 'indyLivingDetail',
          label: {
            text: page.questions.indyLivingDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  <h1 class="govuk-heading-l">{{ page.title }}</h1>

  {{
    formPageRadios(
      {
        fieldName: "hasPhyHealthNeeds",
        fieldset: {
          legend: {
            text: page.questions.hasPhyHealthNeeds.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: { text: page.questions.hasPhyHealthNeeds.hint },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: phyHealthNeedsFollowUp
          }
        },
        {
          value: "no",
          text: "No"
        }
      ]
      },
      fetchContext()
    )
  }}

   {{
    formPageRadios(
      {
        fieldName: "requiresSupport",
        fieldset: {
          legend: {
            text: page.questions.requiresSupport.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: requiresSupportFollowUp
          }
        },
        {
          value: "no",
          text: "No"
        }
      ]
      },
      fetchContext()
    )
  }}

   {{
      formPageRadios(
        {
          fieldName: 'canClimbStairs',
          fieldset: {
            legend: {
              text: page.questions.canClimbStairs.question,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
        },
        fetchContext()
      )
    }}

  {{
    formPageRadios(
      {
        fieldName: "canLiveIndependently",
        fieldset: {
          legend: {
            text: page.questions.canLiveIndependently.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
            html: '
                <div id="live-independently-details-hint" class="govuk-hint">
                  <p class="govuk-hint">This means they can:</p>
                  <ul class="govuk-list govuk-list--bullet govuk-hint">
                    <li>cook for themselves</li>
                    <li>clean for themselves</li>
                    <li>manage their own personal hygiene</li>
                    <li>shop for themselves</li>
                    <li>manage their own medication</li>
                  </ul>
               </div>
            '
        },
        items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No",
          conditional: {
            html: indyLivingFollowUp
          }
        }
      ]
      },
      fetchContext()
    )
  }}

{% endblock %}
