{% extends "./_health-needs-screen.njk" %}
{% set pageName = "substance-misuse" %}

{% block questions %}

  {% set substanceAndAlcoholUseFollowUp %}
  {{
      formPageTextArea(
        {
          fieldName: 'substanceAndAlcoholUseDetail',
          label: {
            text: page.questions.substanceAndAlcoholUseDetail.question,
            classes: "govuk-label--s"
          },
          hint: {
            text: page.questions.substanceAndAlcoholUseDetail.hint
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  {% set substituteMedicationFollowUp %}
  {{
      formPageInput(
        {
          fieldName: 'substituteMedicationDetail',
          label: {
            text: page.questions.substituteMedicationDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  {% set engagedWithDrugAndAlcoholServiceFollowUp %}
  {{
      formPageTextArea(
        {
          fieldName: 'serviceDetails',
          label: {
            text: page.questions.serviceDetails.question,
            classes: "govuk-label--s"
          },
          hint: {
            text: page.questions.serviceDetails.hint
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  <h1 class="govuk-heading-l">{{ page.title }}</h1>

  {{
    formPageRadios(
      {
        fieldName: "substanceAndAlcoholUse",
        fieldset: {
          legend: {
            text: page.questions.substanceAndAlcoholUse.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: substanceAndAlcoholUseFollowUp
          }
        },
        {
          value: "no",
          text: "No"
        }
      ]
      },
      fetchContext()
    )
  }}

  {{
    formPageRadios(
      {
        fieldName: "requiresSubstituteMedication",
        fieldset: {
          legend: {
            text: page.questions.requiresSubstituteMedication.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: substituteMedicationFollowUp
          }
        },
        {
          value: "no",
          text: "No"
        }
      ]
      },
      fetchContext()
    )
  }}

  {{
    formPageRadios(
      {
        fieldName: "engagedWithDrugAndAlcoholService",
        fieldset: {
          legend: {
            text: page.questions.engagedWithDrugAndAlcoholService.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: page.questions.engagedWithDrugAndAlcoholService.hint
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: engagedWithDrugAndAlcoholServiceFollowUp
          }
        },
        {
          value: "awaitingAssessment",
          text: "They are awaiting assessment with a drug and alcohol service"
        },
        {
          value: "no",
          text: "No"
        }
      ]
      },
      fetchContext()
    )
  }}

  {{
    formPageRadios(
      {
        fieldName: "intentToReferToService",
        fieldset: {
          legend: {
            text: page.questions.intentToReferToService.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: page.questions.intentToReferToService.hint
        },
        items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        },
        {
          value: "notInPrisonCustody",
          text: "No, the applicant is not in prison custody"
        }
      ]
      },
      fetchContext()
    )
  }}

  {{
    formPageRadios(
      {
        fieldName: "releasedWithNaloxone",
        fieldset: {
          legend: {
            text: page.questions.releasedWithNaloxone.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        },
        {
          value: "notInPrisonCustody",
          text: "No, the applicant is not in prison custody"
        }
      ]
      },
      fetchContext()
    )
  }}

{% endblock %}
