{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% extends "../layout.njk" %}

{% block questions %}

  {% call govukFieldset({
    legend: {
      text: page.questions.bailHearingContact.question,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  }) %}

  {{
    formPageInput(
      {
        label: {
          text: "Full name"
        },
        fieldName: "name"
      },
      fetchContext()
    )
  }}

  {{
    formPageInput(
      {
        label: {
          text: "Legal firm address"
        },
        fieldName: "legalFirmAndAddress"
      },
      fetchContext()
    )
  }}

  {{
    formPageInput(
      {
        label: {
          text: "Email address"
        },
        fieldName: "email"
      },
      fetchContext()
    )
  }}

  {{
    formPageInput(
      {
        label: {
          text: "Phone number"
        },
        fieldName: "number"
      },
      fetchContext()
    )
  }}

  {% endcall %}
{% endblock %}
