<!DOCTYPE html>

<html lang="en-GB">
<head>
<title>Apply for short-term accommodation (CAS2) for bail interview questions sheet</title>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    h1, h2, h3, p, li {font-family: Arial, Helvetica, sans-serif;
    }
    </style>
</head>
<main>
<body>
  <span style="font-size: smaller;"><p>Version 1 - 2nd April 2025</p></span>
<h1>Apply for short-term accommodation (CAS2) for bail interview questions sheet</h1>
<p style="color:#505a5f;">Use this resource when you need to collect information to submit an application for short-term accommodation (CAS2) for bail but cannot access the digital service during the applicant interview.  
    You can use this resource together with the interview notes for referrers.</p>
<!--
<h2 style="font-family: Arial, Helvetica, sans-serif"></h2>
<h3 style="font-family: Arial, Helvetica, sans-serif"></h3>
<p style="font-family: Arial, Helvetica, sans-serif"></p>
<ul>
    <li style="font-family: Arial, Helvetica, sans-serif"></li>
</ul>
-->
<h2>Before you start, check you have: </h2>
<ul>
    <li>the applicant’s case reference number (CRN) from NDelius, or their prison number </li>
    <li>confirmed they are eligible for the service </li>
    <li>the applicant’s verbal consent to apply on their behalf </li>
    <li>the applicant’s solicitors' details, including their full name, legal firm address, email address and UK phone number </li>
</ul>
<h2>What this does not include </h2>
<p>Some of the information about the applicant are available on other systems you can access at your desk. As you may need to enter these details before you can submit the application, they are below for your reference: </p>
<ul>
    <li>any multi-agency risk management arrangements such as: 
    <ul><li>Multi-Agency Public Protection Arrangements (MAPPA) </li>
        <li>Multi-Agency Risk Assessment Conference (MARAC) </li>
        <li>Integrated Offender Management (IOM) </li>
    </ul> 
</li>
    <li>Assessment, Care in Custody and Teamwork (ACCT)  </li>
    <li>bail hearing details: date, the name of the court, how it will be heard  </li>
    <li>Cell Sharing Risk Assessment (CSRA) </li>
    <li>Liaison and Diversion Assessment  </li>
    <li>OASys risk assessment </li>
</ul>
<h2>Give your feedback </h2>
<p>his is a new service. Help us improve it and give your feedback by completing the survey at XX</p>
<h2>If you need a different accessible format </h2>
<p>Email the digital support team at <a href="mailto:cas2-bail-digital-support@justice.gov.uk">cas2-bail-digital-support@justice.gov.uk</a>. 
    In your message, include the format you need. For example:  </p>
    <ul><li>braille  </li>
        <li>large print  </li>
        <li>different colour contrast </li>
    </ul> 
    <h2>Applicant details</h2>
    <table>
        <tr>
          <th>Information</th>
          <th>You'll need to ask:</th>
        </tr>
        <tr>
          <td>Mobile phone </td>
          <td><ul>
            <li>if they have a working mobile phone and their number</li>
                <li>if it is a smart phone </li>
        </ul>
    </td>
        </tr>
        <tr>
          <td>Immigration status</td>
          <td>
            What status best describes them: 
            <ul>
                <li>UK Citizen</li>
                <li>Leave to remain</li>
                <li>Indefinite leave to remain</li>
                <li>Discretionary leave to remain</li>
                <li>EEA national</li>
                <li>Refugee</li>
                <li>Asylum seeker awaiting decision</li>
                <li>Spouse or partner sponsorship</li>
                <li>Work visa</li>
                <li>Student visa</li>
                <li>Not known</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Pregnancy</td>
          <td>If they could be pregnant and their estimated due date.</td>
        </tr>
        <tr>
          <td>Previous address history </td>
          <td>Their last known fixed address before their arrest and their living situation there:
            <ul> 
            <li>it is close to the court where the case will be held </li>
            <li>they lived in the area for six out of the last 12 months, or three out of the last five years (prior to custody) </li>
            <li>their immediate family (parents, children, siblings) has lived in the area for at least five years </li>
            <li>their employment is in that area </li>
            <li>they have a special reason to live in (for example, they receive specialist healthcare) </li>
            </ul>
            </td>
        </tr>
      </table>
      <h2>Exclusion zones and preferred areas</h2>
      <table>
          <tr>
            <th>Information</th>
            <th>You'll need to ask:</th>
          </tr>
          <tr>
            <td>Preferred areas </td>
            <td>Two or more preferred areas and the reason for their preference: <ul>
                  <li>it is close to the court where the case will be held </li>
                  <li>they lived in the area for six out of the last 12 months, or three out of the last five years (prior to custody)</li>
                  <li>their immediate family (parents, children, siblings) has lived in the area for at least five years</li>
                  <li>their employment is in that area</li>
                  <li>they have a special reason to live in (for example, they receive specialist healthcare) </li>
          </ul>
      </td>
      </tr>
      <tr>
        <td>Exclusion zones or unsuitable areas </td>
        <td>Any specific areas that they must not enter and any safeguarding details:<ul>
          <li>which area(s) they are excluded from</li>
              <li>it is close to the court where the case will be held </li>
              <li>the reason for the exclusion, for example domestic abuse</li>
              <li>how long it lasts</li>
              <li>full names of people it's protecting, to avoid placing the applicant near them</li>
              <li>what the bail conditions, restraining orders and injunctions are </li>
      </ul>
  </td>
  </tr>
      </table>
<h2>Gang affiliation and family unit</h2>
      <table>
          <tr>
            <th>Information</th>
            <th>You'll need to ask:</th>
          </tr>
          <tr>
            <td>Gang affiliation </td>
            <td>If they have any gang affiliation and the details:  
              <ul>
              <li>the gang name, any rival gangs or county lines</li>
                  <li>the areas they operate in  </li>
                  <li>the nature of their involvement</li>
          </ul>
      </td>
      </tr>
      <tr>
        <td>Family accommodation </td>
        <td>If they need accommodation for themselves and any dependants such as children.
  </td>
  </tr>
      </table>
      <h2>Funding CAS2 accommodation</h2>
      <table>
          <tr>
            <th>Information</th>
            <th>You'll need to ask:</th>
          </tr>
          <tr>
            <td>Payment of the service </td>
            <td>If they will pay for the accommodation and the service charge using Housing Benefit or personal savings, salary or pension. 
      </td>
      </tr>
      <tr>
        <td>National Insurance Number</td>
        <td>If they have a National Insurance number and the number.
  </td>
  </tr>
  <tr><td>Benefits  </td>
    <td>If they: 
      <ul>
      <li>are currently receiving benefits</li>
          <li>have received any benefit sanctions in the last 6 months  </li>
  </ul>
</td></tr>
<tr><td>Identity document (ID)  </td>
    <td>Which identity document they have: 
      <ul>
      <li>passport</li>
          <li> travel pass with photograph </li>
          <li>birth certificate</li>
          <li>bank account or debit card</li>
          <li>bank, building society or Post Office card account statements</li>
          <li>UK photo driving licence (full or provisional)</li>
          <li>recent wage slip (with payee name and NI number)</li>
  </ul>
  If none of these document apply, you can use any of the other documents in the ID section of the digital service. The full list includes accepted documents issued by official organisations.
</td></tr>
      </table>
      <h2>Offence information</h2>
      <table>
          <tr>
            <th>Information</th>
            <th>You'll need to ask:</th>
          </tr>
          <tr>
            <td>Current alleged offences </td>
            <td>About any charges or accusations for which the applicant is currently being held in custody:
              <ul>
                <li>what is alleged to have happened and who was involved</li>
                    <li>location and date  </li>
                   <li>any damage or injuries caused and the motivation (if any)</li>
            </ul>
            </td>
      </tr>
  <tr><td>Probation supervision  </td>
    <td>If they: 
      If they are currently supervised by probation and the details of the Community Probation Practitioner (CPP): 
      <ul>
      <li>full name</li>
          <li>probation region  </li>
          <li>email address and UK phone number</li>
  </ul>
</td></tr>
<tr><td>Previous unspent convictions  </td>
    <td>About any:
      <ul>
      <li>active community orders or sentences that the applicant is currently serving</li>
      <li>past offences for which the applicant has been convicted and has already served the sentence for</li>
      </ul>
      Only add them if one or more of the following conditions apply. They:
      <ul>
          <li> are unspent </li>
          <li>are relevant to the charges the applicant is being held for</li>
          <li>relate to one of the following categories:
            <ul>
              <li>arson</li>
              <li>domestic abuse</li>
              <li>drugs</li>
              <li>hate-related attitudes</li>
              <li>stalking and harassment</li>
              <li>violence</li>
              <li>weapons and firearms</li>
            </ul>
          </li>
      </ul>
        If they apply, you’ll need details about: 
     <ul>
      <li>the number of convictions of the same type</li>
      <li>if they are currently serving a sentence for any of these convictions</li>
      <li>any safeguarding measures in place, for example a restraining order</li>
  </ul>
</td></tr>
      </table>
      <h2>Health needs</h2>
      <table>
          <tr>
            <th>Information</th>
            <th>You'll need to ask:</th>
          </tr>
          <tr>
            <td>Substance and alcohol use  </td>
            <td>If they have any issues related to substance and alcohol use and any details: 
              <ul>
                <li>the substances they use, the method and amount taken</li>
                    <li>when </li>
                   <li>if they have a formal diagnosis</li>
           <li>if they require any substitute medication</li>
           <li>if they are engaged with a drug and alcohol service or awaiting an assessment, and which service with </li>
           <li>if they will be referred to a drug and alcohol service when they are released (prison applicants only)</li>
           <li>if they are being released with naloxone (prison applicants only)</li>
            </ul>
            </td>
      </tr>
      <tr>
        <td>Physical and mobility</td>
        <td>
          If they have any physical and mobility needs and any details: 
          <ul>
            <li>what their needs are and if they have a formal diagnosis</li>
            <li>any support they need and if they receive any treatment and medication</li>
            <li>if they can climb stairs</li>
            <li>if they can live independently </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Mental health</td>
        <td>
          If they have any mental health needs and any details:  
          <ul>
            <li>what their needs are and if they have a formal diagnosis</li>
            <li>any support they need and if they receive any treatment and medication</li>
            <li>if they are engaged with a mental health service or awaiting an assessment, and which service with </li>
            <li>if they will be referred to a mental health service when they are released (prison applicants only) </li>
            <li>how they are currently presenting</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Communication and language</td>
        <td>
          If they have any literacy, visual or hearing impairments and the details of their needs.
          <br>
          If they need an interpreter and what language for.
        </td>
      </tr>
      <tr>
        <td>Learning difficulties and neurodiversity</td>
        <td>
          If they have any needs relating to learning difficulties or neurodiversity and any details:
          <ul>
            <li>what their needs are and if they have a formal diagnosis</li>
            <li>any support they need and if they receive any treatment and medication</li>
            <li>if they are vulnerable as a result and how </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Brain injury</td>
        <td>
          If they have a brain injury and any details:
          <ul>
            <li>what their needs are and if they have a formal diagnosis</li>
            <li>any support they need and if they receive any treatment and medication</li>
            <li>if they are vulnerable as a result and how </li>
            <li>if they have difficulties interacting with other people and how</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Other health needs</td>
        <td>
          If any of the following apply and any relevant details. They:
          <ul>
            <li>are managing a long term health condition</li>
            <li>experience seizures or epilepsy </li>
            <li>have experienced a stroke</li>
            <li>are receiving regular treatment for cancer</li>
            <li>have any other health needs (for example, nut allergies or need a private bathroom)</li>
          </ul>
        </td>
      </tr>
      </table>
      <h2>Concerns to the applicant and others</h2>
      <table>
          <tr>
            <th>Information</th>
            <th>You'll need to ask:</th>
          </tr>
          <tr>
            <td>Self-harm and suicide </td>
            <td>If any of the following apply and any relevant details. They:
              <ul>
                <li>have self-harmed or attempted suicide in the past</li>
                    <li>show concerning behaviours related to self-harm or suicide whilst in custody </li>
                   <li>have any specific triggers related to self-harm or suicide</li>
           </ul>
            </td>
      </tr>
      <tr>
        <td>Violence or arson</td>
        <td>
          If any of the following apply and any relevant details. They:
          <ul>
            <li>have had convictions or behaviours related to violence or arson in the past</li>
            <li>show concerning behaviours related to violence or arson whilst in custody </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Living in the community</td>
        <td>
          If any of the following apply and any relevant details. They:
          <ul>
            <li>have had convictions or behaviours related to aggression or hate towards others in the past</li>
            <li>have been a victim of violence, bullying, or intimidation from others </li>
            <li>show concerning concerning behaviours related to living in the community whilst in custody </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Safety of staff</td>
        <td>
          If any of the following apply and any relevant details. They:
          <ul>
            <li>have posed a risk to the safety of any staff in the past</li>
            <li>show concerning behaviours related to the safety of staff whilst in custody  </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Additional concerns</td>
        <td>
          If there are any past or present concerns related to any of the following convictions or behaviours: 
          <ul>
            <li>acquisitive offending</li>
            <li>driving-related offences</li>
            <li>drug supply and county lines involvement</li>
            <li>exploitation (such as unpaid labour, modern slavery, human trafficking or cuckooing)</li>
            <li>financial abuse or fraud</li>
            <li>media and public relations</li>
            <li>sex work</li>
            <li>stalking and harassment</li>
          </ul>
          If they apply, you'll need details about:
          <ul>
            <li>what has happened and when, including incident reports</li>
            <li>any safeguarding concerns or support needed</li>
            <li>anything else that might be useful for assessors to know</li>
            <li>any location information</li>
            <li>who might be impacted by this concern</li>
          </ul>
        </td>
      </tr>
      </table>
      <h2>Bail information</h2>
      <table>
          <tr>
            <th>Information</th>
            <th>You'll need to ask:</th>
          </tr>
          <tr>
            <td>Bail conditions </td>
            <td>If there are any non-standard bail conditions being considered and any relevant details:
              <ul>
                <li>any restrictions such as curfews</li>
                    <li>any limitations on contact with specific individuals </li>
           </ul>
            </td>
      </tr>
      </table>
      <h2>Equality and diversity monitoring information</h2>
      <p>All equality questions are optional. They all have a ‘Prefers not to say’ and ‘Other’ options if the applicant does not want to answer the question, or none of the given options apply to them.</p>
      <table>
        <tr>
          <th>Information</th>
          <th>You'll need to ask:</th>
        </tr>
        <tr>
          <td>Disability </td>
          <td>If they have a disability and what type:
            <ul>
              <li>sensory impairment</li>
              <li>physical impairment </li>
              <li>learning disability or difficulty</li>
              <li>mental health condition</li>
              <li>long-standing illness</li>
              <li>other</li>
              <li>prefers not to say</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Sex and gender identity</td>
          <td>Their sex and their gender identity.</td>
        </tr>
        <tr>
          <td>Sexual orientation</td>
          <td>How they describe their sexual orientation</td>
        </tr>
        <tr>
          <td>Ethnic group and background </td>
          <td>How they describe their ethnic group or background:
            <ul>
              <li>White (English, Welsh, Scottish, Northern Irish or British, Irish, Gypsy or Irish Traveller, any other White background)</li>
              <li>mixed or multiple ethnic groups (White and Black Caribbean, White and Black African, White and Asian, any other mixed or multiple ethnic background)</li>
              <li>Asian or Asian British (Indian, Pakistani, Bangladeshi, Chinese, any other Asian background)</li>
              <li>Black, African, Caribbean or Black British (African, Caribbean, any other Black, African or Caribbean background)</li>
              <li>other ethnic group (Arab, any other ethnic group)</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Religion</td>
          <td>What their religion is:
            <ul>
           <li>no religion</li>
           <li>Christian (including Church of England, Catholic, Protestant and all other Christian denominations)</li>
           <li>Atheist or Humanist</li>
           <li>Agnostic</li>
           <li>Buddhist</li>
           <li>Hindu</li>
           <li>Jewish</li>
           <li>Muslim</li>
           <li>Sikh</li>
           <li>any other religion</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Other information</td>
          <td>If one or more of the following apply to them. They:
            <ul>
           <li>are a military veteran</li>
           <li>are a care leaver</li>
           <li>have parental or carer responsibilities</li>
           </ul>
           </td>
           </tr>
           <tr>
            <td>Legal marital or registered civil partnership status</td>
            <td>How they describe their marital or registered civil partnership status.
              </td>
              </tr>
    </table>
</body>
</main>
</html>