{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% extends "./_risk-information-screen.njk" %}
{% set pageName = "acct" %}

{% block questions %}

  {% if page.accts | length %}

    {% for acct in page.accts %}

      {{ govukSummaryList({
      card: {
        title: {
          text: acct.title
        },
        actions: {
          items: [
            {
              href: acct.removeLink,
              text: "Remove",
              visuallyHiddenText: 'ACCT note "' + acct.title + '"'
            }
          ]
        }  
      },
      rows: [
        {
          key: {
            text: "Referring institution:"
          },
          value: {
            html: acct.referringInstitution
          }
        },
        {
          key: {
            text: "Details"
          },
          value: {
            html: acct.acctDetails | formatLines
          }
        }
      ]
    }) }}

    {% endfor %}

  {% else %}
    <p class="govuk-body govuk-!-font-weight-bold">No ACCT notes have been added.</p>
  {% endif %}

  <div>
    {{ govukButton({
      text: "Add an ACCT note",
      classes: 'govuk-button--secondary' if page.hasExistingAcctNotes else 'govuk-button--primary',
      href: paths.applications.pages.show({ id: applicationId, task: 'risk-information', page: 'add-acct-note' })
    }) }}
  </div>

{% endblock %}

{% block button %}
  <div class="govuk-button-group">
    {% if page.hasExistingAcctNotes %}
      {{ govukButton({
        text: "Save and continue"
      })}}
    {% else %}
      {{ govukButton({
        text: "Change your answer about existing ACCT notes",
        classes: "govuk-button--secondary",
        href: paths.applications.pages.show({ id: applicationId, task: 'risk-information', page: 'does-the-applicant-have-acct-notes' })
      })}}
    {% endif %}

    <a href="{{ paths.applications.show({ id: applicationId }) }}">Back to task list</a>
  </div>
{% endblock %}
