{% from "../../../components/formFields/form-page-input/macro.njk" import formPageInput %}

{% extends "../layout.njk" %}
{% block questions %}

  {{
    formPageRadios(
      {
        fieldName: "bailHearingMedium",
        fieldset: {
          legend: {
            text: page.questions.bailHearingMedium.question,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: page.items()
      },
      fetchContext()
    )
  }}

{% endblock %}
