name: e2e tests

on:
  workflow_call:
    inputs:
      node_version_file:
        description: "Passed to setup-node action to specify where to source the version of node from"
        required: false
        type: string
        default: ".nvmrc"

permissions:
  contents: read

jobs:
  e2e_test:
    name: Run the e2e tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # Repository is specified to run the workflow from the API repository
          repository: 'ministryofjustice/hmpps-community-accommodation-tier-2-bail-ui'
      - name: Use Node.js ${{ inputs.node_version_file }}
        uses: actions/setup-node@v4
        with:
          node-version-file: ${{ inputs.node_version_file }}
      - name: refresh cache
        id: refresh-cache
        uses: actions/cache@v4
        env:
          cache-name: node-modules
        with:
          path: |
            ~/.cache
            node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: install dependencies
        if: steps.refresh-cache.outputs.cache-hit != 'true'
        shell: bash
        run: |
          npm ci --no-audit
      - name: install playwright
        shell: bash
        run: |
          npx playwright install
      - name: run e2e tests
        env:
          CAS2_ASSESSOR_USERNAME: ${{ vars.CAS2_ASSESSOR_USERNAME }}
          CAS2_ASSESSOR_PASSWORD: ${{ vars.CAS2_ASSESSOR_PASSWORD }}
          CAS2_COURT_BAIL_NOMIS_REF_USERNAME: ${{ vars.CAS2_COURT_BAIL_NOMIS_REF_USERNAME }}
          CAS2_COURT_BAIL_NOMIS_REF_PASSWORD: ${{ vars.CAS2_COURT_BAIL_NOMIS_REF_PASSWORD }}
          CAS2_PRISON_BAIL_NOMIS_REF_USERNAME: ${{ vars.CAS2_PRISON_BAIL_NOMIS_REF_USERNAME }}
          CAS2_PRISON_BAIL_NOMIS_REF_PASSWORD: ${{ vars.CAS2_PRISON_BAIL_NOMIS_REF_PASSWORD }}
          CAS2_MI_USERNAME: ${{ vars.CAS2_MI_USERNAME }}
          CAS2_MI_PASSWORD: ${{ vars.CAS2_MI_PASSWORD }}
        shell: bash
        run: |
          npm run test:e2e
      - name: upload results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: npm_e2e_test_artifacts
          path: |
            e2e-tests/test_results/
            e2e-tests/playwright-report/

      - name: Send Slack notification
        if: failure()
        uses: ministryofjustice/hmpps-approved-premises-ui/.github/actions/slack_failure_notification@main
        with:
          title: "CAS2 Bail E2E Tests"
          channel_id: ${{ vars.SECURITY_ALERTS_SLACK_CHANNEL_ID }}
          slack_bot_token: ${{ secrets.HMPPS_SRE_SLACK_BOT_TOKEN }}
