name: Pipeline [test -> build -> deploy]

on:
  push:
    branches:
     - '**'
  workflow_dispatch:
    inputs:
      additional_docker_tag:
        description: Additional docker tag that can be used to specify stable or testing tags
        required: false
        default: ''
        type: string
      push:
        description: Push docker image to registry flag
        required: true
        default: false
        type: boolean

permissions:
  contents: read
  packages: write
        
jobs:
  # main node build workflow
  node_build:
    name: node build
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/node_build.yml@v2 # WORKFLOW_VERSION
    secrets: inherit

  node_unit_tests:
    name: node unit tests
    runs-on: [ self-hosted, hmpps-github-actions-runner ]
    needs: [node_build]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js .nvmrc
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - name: Install dependencies
        run: npm ci --no-audit
      - name: unit tests
        id: unit-tests
        shell: bash
        run: npm run test:ci
        # continue-on-error: true
        # Replacing the above with if: always()
      - name: upload the artifacts
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v7
        with:
          name: npm_unit_test_artifacts
          path: test_results
      - name: publish test report
        if: ${{ !cancelled() && github.event.repository.visibility == 'public' }}
        uses: dorny/test-reporter@v2
        with:
          artifact: npm_unit_test_artifacts
          name: Test Report
          path: 'jest/**/*.xml'
          reporter: java-junit
          fail-on-empty: false
          fail-on-error: false
          list-suites: 'failed'
          list-tests: 'failed'
      - name: fail the action if the tests failed
        if: ${{ steps.unit-tests.outcome == 'failure' }}
        uses: actions/github-script@v7
        with:
          script: |
            core.setFailed('Unit tests failed')

  # generic node integration tests using wiremock - feel free to override with local tests if required
  node_integration_tests:
    name: node integration tests
    uses: ./.github/workflows/integration_tests.yml
    needs: [node_build]
    secrets: inherit
  helm_lint:
    strategy:
      matrix:
        environments: ['development','test','preprod','prod']
    name: helm lint
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/test_helm_lint.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: ${{ matrix.environments }}
  build:
    name: Build docker image from hmpps-github-actions
    if: github.ref == 'refs/heads/main'
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/docker_build.yml@v2 # WORKFLOW_VERSION
    needs:
      - node_integration_tests
      - node_unit_tests
    with:
      docker_registry: 'ghcr.io'
      registry_org: 'ministryofjustice'
      additional_docker_tag: ${{ inputs.additional_docker_tag }}
      push: ${{ inputs.push || true }}
      docker_multiplatform: true
  deploy_dev:
    name: Deploy to the development environment 
    needs: 
      - build
      - helm_lint
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: 'development'
      app_version: '${{ needs.build.outputs.app_version }}'
  node_e2e_tests:
    name: Node e2e tests
    if: github.ref == 'refs/heads/main'
    needs: [deploy_dev]
    uses: ./.github/workflows/e2e_tests.yml
    secrets: inherit
  deploy_test:
    name: Deploy to the test environment
    needs:
      - build
    if: github.ref == 'refs/heads/main'
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2
    secrets: inherit
    with:
      environment: 'test'
      app_version: '${{ needs.build.outputs.app_version }}'
  deploy_preprod:
    name: Deploy to pre-production environment
    needs: 
      - build
      - deploy_dev
      - node_e2e_tests
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: 'preprod'
      app_version: '${{ needs.build.outputs.app_version }}'
  deploy_prod:
    name: Deploy to production environment
    needs: 
      - build
      - deploy_preprod
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: 'prod'
      app_version: '${{ needs.build.outputs.app_version }}'
